<div class="about row">


  <h2>Contact</h2>

  <p><strong>Personal</strong></p>
  <ul>
      <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
      <li>Website：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
      <!--<li>Cnblogs：<a href="{{ site.cnblog_url }}">{{ site.cnblog_url }}</a></li>-->
  </ul>



 <p align="center">

 <img src="http://blog.icesugar.cn/assets/images/icesugar.jpg" />
 <br/>微信扫一扫

   <!-- <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <img src="http://www.ityouknow.com/assets/images/weixin.png"  style="width: 413px;height: 545px;">-->
 </p>

  <!-- Comments -->
 <div class="comment">
   {% include comments.html %}
 </div>
</div>

</div>
